#welcome-hero {
  h1 {
    font-weight: 400;
    strong {
      font-weight: 600;
    }
  }
  h2 {
    color: $grey-light;
  }
}

.card > .card-content > .content {
  overflow-x: hidden;
}

.article-hacktivity > .media-content {
  overflow-x: hidden;
}

#page-hero {
  h1 {
    font-weight: 400;
    strong {
      font-weight: 600;
    }
  }
  h2 {
    color: $grey-light;
  }
}

.welcome-strip {
  .strip-header {
    margin-bottom: 3rem;
    text-align: center !important;
    h3.title {
      font-weight: 400;
    }
  }
  .section-cta {
    margin-top: 1em;
  }
}


.content details {
  margin-bottom: 1em;
}

.content details > summary {
  color: $primary;
}

#researcher .profile-link {
  @include block(.5rem)
}

#researcher-index {
  .researcher-activity-card {
    @include block;

    .card-header-title {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      span.researcher-name, span.researcher-cve {
        display: inline-flex;
        white-space: nowrap;
      }

      span.researcher-name {
        padding-right: 0.75em;
      }
    }
  }
}

$severity-colors: ("low": (#3298dc, #fff), "medium": (#ffdd57, $grey-dark), "high": (#ff7518, #fff), "critical": (#ff2e12, #fff));

.tag:not(body) {
  color: $text;
  @each $name, $pair in $severity-colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    &.is-severity-#{$name} {
      color: $color-invert;
      background-color: $color;
    }
  }
}

.progress {
  //$progress-bar-background-color: $border-light !default
  @each $name, $pair in $severity-colors {
    $color: nth($pair, 1);
    &.is-severity-#{$name} {
      &::-webkit-progress-value {
        background-color: $color;
      }
      &::-moz-progress-bar {
        background-color: $color;
      }
      &::-ms-fill {
        background-color: $color;
      }
      &:indeterminate {
        background-image: linear-gradient(to right, $color 30%, $progress-bar-background-color 30%);
      }
    }
  }
}
